
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 400px auto;
    text-align: left;
}

.image_container {
    height: auto;
    width: 35%;
    margin: 0 20px 0 0;

    @media (max-width: 1224px) and (orientation: portrait) {
        margin: 0 auto;
        height: auto;
        width: 70%;
    }
}

.image {
    position: relative;
    top: 0;

    transition: top ease 0.35s;
    box-shadow: rgba(145, 167, 255, 0.4) -5px 5px, rgba(145, 167, 255, 0.3) -10px 10px, rgba(145, 167, 255, 0.2) -15px 15px, rgba(145, 167, 255, 0.1) -20px 20px, rgba(145, 167, 255, 0.05) -25px 25px;

    @media (max-width: 1224px) and (orientation: portrait) {
        box-shadow: rgba(145, 167, 255, 0.4) 0px 5px, rgba(145, 167, 255, 0.3) 0px 10px, rgba(145, 167, 255, 0.2) 0px 15px, rgba(145, 167, 255, 0.1) 0px 20px, rgba(145, 167, 255, 0.05) 0px 25px;
    }
}

.image:hover {
    top: -5px;
}

.about_container {
    margin: 0 0 0 20px;
    text-align: left;
    width: 50%;

    @media (max-width: 1224px) and (orientation: portrait) {
        width: 75%;
    }
}

.button {
    position: relative;
    margin: 0 20px 0 20px;
    padding: 7.5px 25px 7.5px 25px;
    top: 0px;

    color: var(--mantine-color-indigo-4);
    font-size: clamp(9px, 6vw, 18px);
    font-weight: 600;
    text-decoration: none;

    border-radius: 10px;
    border: 3px solid var(--mantine-color-indigo-4);
    transition: all ease 0.35s;
}

.button:hover {
    top: -3px;
}