
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
/*
:global(#root) {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.underline_anchor {
  position: relative;
  display: inline-block;

  text-decoration: none;
  cursor: pointer;
  color: var(--mantine-color-indigo-4);
  font-weight: 600;
}

.underline_anchor:after {
  position: absolute;
  height: 2px;
  left: 50%;
  bottom: 0;
  width: 0;

  content: "";
  display: block;

  background: var(--mantine-color-indigo-4);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.underline_anchor:hover:after {
  width: 100%;
  left: 0;
}

.intro {
  position: absolute;
}

.about {
  position: absolute;
}

.footer {
  position: absolute;
}