
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(96 165 250);;
    border-radius: 10px;
}