
:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */

  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
}